* {
    font-family: Ubuntu, sans-serif;
}

table, caption {
    width:250px;
    box-shadow: 5px 5px 10px gray;
}

table, th, td, caption {
    border: 1px solid gray;
    border-collapse: collapse;
}

caption {
    font-size: 1.2em;
    font-weight: bold;
    background-color: #7fb9c2;
    padding: 5px;
}

table tr:nth-child(even) {
    background-color: #e7ffed;
}
table tr:nth-child(odd) {
   background-color:#e7f0ed;
}
table th {
    background-color: #628ca6;
    color: white;
    font-weight: bold;
}

th, td {
    padding: 3px;
    text-align: center;
}

.blackFriday {
    font-style: italic;
}

tfoot td {
    text-align: center;
    font-size: 0.6em;
    background-color: #7fb9c2;
    height: 18px;
} 