/* || general styles */

html {
  font-family: 'helvetica neue', helvetica, arial, sans-serif;
}

body {
  max-width: 800px;
  margin: 0 auto;
  background-color: #8E7E5F;
}

h1, h2 {
  font-family: 'Bangers', cursive;
}

/* header styles */



header {
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin: 0 20px;
}

h1 {
  font-size: 4rem;
  text-align: center;
  margin-bottom: 5px;
  color: #E19600;
  text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;
    
    /*text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;*/
}

header p {
  font-size: 1.3rem;
  font-weight: bold;
  font-style: italic;
  text-align: center;
}

/* section styles */

section {
    display: grid;
}

section article {
  float: left;
  padding: 0 10px;
  margin: 0 auto 10px;
  border: solid 1px grey;
  background-color: black;
  border-radius: 7px;
}

section p {
  margin: 5px 0;
  color: white;
}

section ul {
  margin-top: 0;
  color: white;
}
section ul li {
    font-style: italic;
}


h2 {
  font-size: 2rem;
  letter-spacing: 0.7px;
  margin-bottom: 10px;
  color: darkgoldenrod;
}