@media only screen and (min-width: 64em) {
    /* Only CSS rules that need to be changed to meet the layout needs from medium to large/wide go in here */
    /********* IMAGES **********/
    div.imgContainer {
        display: grid;
        grid-template-columns: 2fr 2fr 2fr 2fr 2fr 2fr;
        grid-auto-rows: 300px;
        grid-gap: 20px;
    }

    div.imgContainer img {
        padding: 10px;
    }

    div.imgContainer div:nth-child(1) {
        grid-column-start: 1;
        grid-column-end: 3;
        align-self: center;
    }
    div.imgContainer div:nth-child(2) {
        grid-column-start: 3;
        grid-column-end: 5;
        align-self: center;
    }
    div.imgContainer div:nth-child(3) {
        grid-column-start: 5;
        grid-column-end: 7;
        align-self: center;
    }

    div.imgContainer div:nth-child(4) {
        grid-column-start: 2;
        grid-column-end: 4;
        align-self: center;
    }

    div.imgContainer div:nth-child(5) {
        grid-column-start: 4;
        grid-column-end: 6;
        align-self: center;
    }

    /******* Form ********/
    form#consultForm {
        margin: 1em 3%;
        display: grid;
        grid-template-columns: 1fr 1fr;
    }

    /******* EVENTS ********/
    .event-h2 {
        font-size: 2em;
    }

    .event-container img {
        grid-column: 2/3;
        border: 1px solid black;
        -webkit-box-shadow: 6px 10px 15px 0px rgba(0, 0, 0, 0.75);
        -moz-box-shadow: 6px 10px 15px 0px rgba(0, 0, 0, 0.75);
        box-shadow: 6px 10px 15px 0px rgba(0, 0, 0, 0.75);
    }

    .event-container p {
        grid-column: 1/2;
        grid-row: 1/2;
        align-self: center;
        line-height: 1.5em;
        font-size: 1.3em;
        padding-left: 30px;
    }

    .event-container .event-registration {
        grid-column: 1/2;
        grid-row: 2/3;
        width: 100%;
    }
    .accordion-container {
        width: 80%;
        margin: 0 auto;
    }
    
    .acc-header h2 {
        font-size: 1.8em;
        font-weight: bold;
    }
    
    .acc-header p {
        text-align: center;
        display: block;
        width: 80%;
        margin: 0 auto;
    }
    
    .all-tours {
        display: grid;
        grid-template-columns: 1fr 1fr;
    }
    
    .all-tours div {
        max-width: 600px;
    }
    
    .all-tours div:nth-of-type(2) {
        grid-column: 2/4;
        grid-row: 1/2;
    }
    
    .tours-header p {
        display: block;
        width: 80%;
        margin: 0 auto;
    }
}
